html {
  font-size: 16px;
  background: #f0f2f4;
  &.dark {
    background: #191919;
  }
}

body {
  background: #f0f2f4;
  .dark & {
    background: #191919;
  }
}

::-webkit-scrollbar{
  width: 12px;
}
::-webkit-scrollbar-track{
  background-color: transparent;
}
::-webkit-scrollbar-thumb{
  background-color: rgba(104, 103, 103, 0.2);
}
::-webkit-scrollbar-thumb:hover{
  background-color: rgba(104, 103, 103, 0.3);
}

.dark ::-webkit-scrollbar-thumb{
  background-color: rgba(104, 103, 103, 0.7);
}
::-webkit-scrollbar-thumb:hover{
  background-color: rgba(104, 103, 103, 0.6);
}

button {
  outline: 0;
}